@page
@using WebApplication4.Data; @* Mesa, MesaUsuario, Usuario *@

@model WebApplication4.Pages.Mesas.MinhasMesasModel
@{
    ViewData["Title"] = "MinhasMesas";
}

<h2>MinhasMesas</h2>
<div class="card card-body">
    <form method="post">
        <input type="text" asp-for="NomeMesa" />
        <span asp-validation-for="NomeMesa"
                     class="text-danger"></span>
        <button asp-page-handler="Criar">Criar Nova</button>
    </form>
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
        <th>Nome</th>
        <th>Usuários</th>
        </thead>
        <tbody>
            @foreach (Mesa mesa in Model.mesas)
            {
                <tr>
                    <td>@mesa.Nome</td>
                    <td>
                        @foreach (MesaUsuario mu in mesa.MesasUsuarios)
                        {
                            @if (mesa.MesasUsuarios.First() != mu)
                            {
                                @:,
                            }
                            @mu.Usuario.Nome
                        }
                    </td>
                    <td>
                        <button asp-page-handler="Jogar"
                                name="mesaId" value="@mesa.MesaId">
                        Jogar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
